<?xml version="1.0" encoding="UTF-8"?>
<document xmlns="http://maven.apache.org/XDOC/2.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <body>

        <!-- The body of the document contains a number of sections -->
        <section name="Main Site">

            <h1>OSA</h1>
            <h2>Froc Project Site</h2>

        </section>

        <!-- <section name="other section">
            <p>This is how you run site documentation</p>
            
            <source>
                mvn clean site:run
            </source>
        </section> -->
    </body>

</document>