<?xml  version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:lang="http://www.springframework.org/schema/lang"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.0.xsd
		http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

	<context:annotation-config />
	<context:component-scan base-package="de.uniko.iwm.osa.data" />
	<!-- <context:component-scan base-package="de.uniko.iwm.osa.qtiinterpreter" 
		/> -->

	<mvc:annotation-driven />
	<mvc:resources mapping="/images/**" location="/images/" />
	<mvc:resources mapping="/css/**" location="/css/" />

	<!-- Aspect -->
	<aop:aspectj-autoproxy />
	<bean id="logAspect" class="de.uniko.iwm.osa.data.aspect.LoggingAspect" />


	<bean id="jspViewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass"
			value="org.springframework.web.servlet.view.JstlView" />
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>

	<bean id="messageSource"
		class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<property name="basename" value="classpath:messages" />
		<property name="defaultEncoding" value="UTF-8" />
	</bean>

	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"
		p:location="classpath:application.properties" />

	<!-- <jee:jndi-lookup id="dataSource" jndi-name="java:comp/env/${JeeConnection}" 
		/> -->

	<jee:jndi-lookup id="OsaFileBase" jndi-name="java:comp/env/osaFileBase" />
	<jee:jndi-lookup id="dataSource" jndi-name="java:comp/env/jdbc/MYSQLDB" />

	<jdbc:initialize-database data-source="dataSource"
		enabled="true">
	    <jdbc:script location="classpath:sql/init.sql" /> 
		<jdbc:script location="classpath:sql/db_osa.sql" />
	</jdbc:initialize-database>

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation">
			<value>classpath:hibernate.cfg.xml</value>
		</property>
		<property name="configurationClass">
			<value>org.hibernate.cfg.AnnotationConfiguration</value>
		</property>

		<property name="hibernateProperties">
			<value>
				hibernate.dialect=org.hibernate.dialect.MySQLDialect
				hibernate.show_sql=false
			</value>
		</property>
	</bean>

	<tx:annotation-driven />

	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<!-- Configure the multipart resolver -->
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<!-- one of the properties available; the maximum file size in bytes -->
		<property name="maxUploadSize" value="500000" />
	</bean>

	<!-- config data <jdbc:embedded-database id="osaConfiguration"> <jdbc:script 
		location="classpath:osaConfiguration-schema.sql" /> <jdbc:script location="classpath:osaConfiguration-data.sql" 
		/> </jdbc:embedded-database> -->

	<!-- other bean -->

 	<bean id="builder" class="de.uniko.iwm.osa.data.service.QtiBuilderServiceImpl" /> 
 	<bean id="qtree" class="de.uniko.iwm.osa.data.service.QtiTreeServiceImpl" /> 
	<!-- <bean id="assessmentItem" class="de.uniko.iwm.osa.questsitemTree.AssessmentItem" 
		/> -->

	<!-- mapping qti-keywords -> cyquest questiontypes -->
	<bean id="keyword2cyquest" class="java.util.HashMap" scope="prototype">
		<constructor-arg>
			<map key-type="java.lang.String" value-type="java.lang.Integer">
				<entry key="qt1" value="1" />
				<entry key="qt2" value="2" />
				<entry key="qt3" value="3" />
				<!-- <entry key="qt4" value="" /> -->
				<!-- <entry key="qt5" value="" /> -->
				<!-- <entry key="qt6" value="" /> -->
				<!-- <entry key="qt7" value="" /> -->
				<entry key="qt8" value="8" />
				<!-- <entry key="qt9" value="" /> -->
				<!-- <entry key="qt10" value="" /> -->
			</map>
		</constructor-arg>
	</bean>

</beans>